@model LibraryManagement2.Models.Employee
<div class="jumbotron2">
    @{
        ViewBag.Title = "Details";
    }

    <h2>Employee details</h2>

    <div>
  
        <hr />
        <dl class="dl-horizontal">
            <dt>
              Full name
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FullName)
            </dd>

            <dt>
               E-mail
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                Library
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Library.Name)
            </dd>



        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.EmployeeID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    </div>