@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div>
        @Html.ActionLink("MEMBERSHIP TYPES", "Index", "MembershipTypes")<br />
       
        @Html.ActionLink("EMPLOYEES", "Index", "Employees")<br />
        @Html.ActionLink("GENRES", "Index", "Genres")<br />
        
        @Html.ActionLink("PUBLISHERS", "Index", "Publishers")<br />
        @Html.ActionLink("LIBRARIES", "Index", "Libraries")<br />
        @Html.ActionLink("ROLE", "Index", "Roles")<br />
       
    </div>
</div>

