@model LibraryManagement2.Models.Issued
<div class="jumbotron2">
    @{
        ViewBag.Title = "Details";
    }

    <h2>Details</h2>
    @{ 
        var issuedDate = Model.IssuedDate.ToString("dddd, dd MMMM yyyy");
        

        string returnDate = Model.ReturnDate.HasValue ? Model.ReturnDate.Value.ToString("dddd, dd MMMM yyyy") : null;
    }
    <div>
        
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Issued date
            </dt>

            <dd>
                @issuedDate
            </dd>

            <dt>
                Return date
            </dt>

            <dd>
                @returnDate
            </dd>

            <dt>
                Title
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Book.Title)
            </dd>

            <dt>
                Employee
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Employee.FullName)
            </dd>

            <dt>
                Member
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Member.FullName)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.IssueID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    </div>