@model IEnumerable<LibraryManagement2.Models.Issued>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IssuedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member.FullName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @{
            string date = item.IssuedDate.ToShortDateString();
        }
        <td>
            @date
        </td>
        <td>
            @date
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Book.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member.FullName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.IssueID}) |
            @Html.ActionLink("Details", "Details", new {id = item.IssueID}) |
            @Html.ActionLink("Delete", "Delete", new {id = item.IssueID})
        </td>
    </tr>
}

</table>
