@model IEnumerable<LibraryManagement2.Models.Issued>
    <div class="jumbotron2">
        @{
            ViewBag.Title = "Index";
        }

        <h2>RENTAL</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Return Date
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Book.Title)
                </th>
                <th>
                    Issued by 
                </th>
                <th>
                    Member
                </th>
                <th></th>
            </tr>
           
            @foreach (var item in Model)
            {
                var date = item.IssuedDate.ToString("dddd, dd MMMM yyyy");

                

                string st = item.ReturnDate.HasValue ? item.ReturnDate.Value.ToString("dddd, dd MMMM yyyy") : null;




                <tr>
                    <td>
                        @date
                    </td>
                    <td>
                       @st
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Book.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Employee.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Member.FullName)
                    </td>
                    <td>
                        @if (!User.IsInRole("CanManageBooks") && item.ReturnDate != null)
                        {
                            @Html.ActionLink("Details", "Details", new { id = item.IssueID })<text>&nbsp;|</text>
                            @Html.ActionLink("Delete", "Delete", new { id = item.IssueID })<text>&nbsp;</text>
                        }
                        else
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.IssueID })<text>&nbsp;|</text>
                            @Html.ActionLink("Details", "Details", new { id = item.IssueID })<text>&nbsp;|</text>
                            @Html.ActionLink("Delete", "Delete", new { id = item.IssueID })<text>&nbsp;</text>
                        }
                    </td>
                </tr>
            }

        </table>
        </div>