@model IEnumerable<LibraryManagement2.Models.MembershipType>
    <div class="jumbotron2">
        @{
            ViewBag.Title = "Index";
        }

        <h2>Index</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.MembershipTypeID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.MembershipTypeID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.MembershipTypeID })
                    </td>
                </tr>
            }

        </table>
        </div>