@model IEnumerable<LibraryManagement2.Models.Book>
    <div class="jumbotron2">
        @{
            ViewBag.Title = "Index";
        }

        <h2>Books</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    Genre
                    @Html.DisplayNameFor(model => model.Genre.Name)
                </th>
                <th>
                    Library
                    @Html.DisplayNameFor(model => model.Library.Name)
                </th>
                <th>
                    Publisher
                    @Html.DisplayNameFor(model => model.Publisher.Name)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Genre.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Library.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Publisher.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.BookID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.BookID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.BookID })
                    </td>
                </tr>
            }

        </table>
        </div>