@model LibraryManagement2.Models.Member
<div class="jumbotron2">
    @{
        ViewBag.Title = "Details";
    }

    <h2>Details member</h2>

    <div>
       
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Full name
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FullName)
            </dd>

            <dt>
                E-mail
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
               Phone number
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>

            <dt>
                Membership Type
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MembershipType.Name)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.MemberID }) |

        @if (User.IsInRole("CanManageBooks"))
        {
            @Html.ActionLink("Back to List", "Index")
        }
        else
        {
            @Html.ActionLink("Back to List", "ReadOnly")
        }
    </p>
    </div>